# /etc/network/interfaces template for servers ({{ansible_hostname}})
# Created by Ansible

auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp

{% for interface, address in nodes[ansible_hostname]["interfaces"]["physical"].items() %}
auto {{ interface }}
iface {{ interface }} inet manual
 
{% endfor %}

iface br0 inet static
  bridge_ports {% for interface in nodes[ansible_hostname]["interfaces"]["physical"] %}{{interface}} {% endfor %}
  
  address {{ nodes[ansible_hostname]["interfaces"]["bridge"]["ipv4"] }}
  netmask 255.255.255.0
   
   